# Binaries
*.exe
*.dll
*.so
*.dylib
server

# Git
.git
.gitignore

# Logs
logs
*.log

# Local env & credentials
.env
.env.*
EKLS.pem
*.pem

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build cache
/build
/dist
node_modules

# Misc
ssh_tunnel_*.log
